.register-container {
    display: flex;
    height: 100vh;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFF;
    max-width: 35%;
    height: 100vh;
    padding: 20px;
}

.icon-container img {
    max-width: 100%;
    height: auto;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.card {
    width: 617px;
    max-height: 90%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.inputs-container-register {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
}

/* Estilos personalizados para el scroll */
.inputs-container-register::-webkit-scrollbar {
    width: 10px;
}

.inputs-container-register::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.inputs-container-register::-webkit-scrollbar-thumb {
    background: #DD4D42;
    border-radius: 10px;
}

.inputs-container-register::-webkit-scrollbar-thumb:hover {
    background: #c0392b;
}

.form-control-register {
    width: 100%;
    margin-bottom: 20px;
}

.input-with-icon-register {
    position: relative;
}

.input-gmail-register, .input-password-register {
    font-size: 20px;
    width: 100%;
    height: 60px;
    padding: 3px;
    border: none;
    background-color: #E9E4E4;
    color: #5C5A5A;
    border-radius: 10px;
    box-sizing: border-box;
}

.toggle-password-register {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
}

.button-container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.buttonregister {
    width: 200px;
    height: 50px;
    color: white;
    background-color: #DD4D42;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.4));
    font-size: 25px;
}

h3, p {
    text-align: center;
}

p {
    margin-top: 20px;
}

p a {
    color: black;
}

p a:hover {
    text-decoration: underline;
}

.title-form-register {
    text-align: center;
}

.title-register {
    font-size: 40px;
    font-weight: bold;
    color: #012B36;
}

.label-root {
    transform: translateY(0);
    transition: transform 0.2s ease-out;
}

.label-shrink {
    transform: translateY(-120%);
    font-size: 0.8rem; /* Ejemplo de reducción de tamaño de fuente cuando la etiqueta se reduce */
}

