.container_chat_student {
  display: flex;
  margin: 5%;
  flex-wrap: wrap;
}

.content-course {
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.instructor-course {
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.left-column, .right-column{
  flex: 1 1 45%; 
  max-width: 45%; 
  padding: 10px;
}

.course-container2 {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .left-column, .right-column {
    flex: 1 1 100%; 
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .ptext, h1 {
    font-size: smaller;
  }
  
  .card_course, .chat-containerStudent {
    width: 100%;
    height:  10%;
    margin: 0 auto; 
  }
  
  .input-questions, .imageArrow, .record-button {
    width: 80%;
  }
}

.ptext {
  display: flex;
  color: rgb(1, 1, 1);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  justify-content: center;
  margin-top: -7%;
}

.info_course {
  padding: 10px;
  align-self: center;
  margin: 10.1%;
}

.imageDice-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1.course-description{
  font-size:large
}

.card_course {
  justify-self: center;
  align-self: center;
  background-color: #DD4D42;
  padding: 20px;
  border-radius: 36px;
  width: 350px;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.imageDice {
  margin-top: 20px;
  width: 20%;
  height: 20%;
  transition: transform 2s ease;
}

.imageDice:hover {
  transform: rotate(360deg);
}

.chat-containerStudent {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 36px;
  height: auto;
  width: 90%;
  flex-direction: column;
}

.answers {
  border: 2px solid #012B36;
  border-radius: 36px;
  padding: 10px;
  height: 360px;
  background-color: #ffff;
  overflow: hidden; 
  position: relative; 
}

.inner-content {
  height: 100%; 
  overflow-y: auto; 
  padding-right: 10px; 
}

.inner-content::-webkit-scrollbar {
  width: 10px;
}

.inner-content::-webkit-scrollbar-thumb {
  background-color: #DD4D42;
  border-radius: 10px;
}

.inner-content::-webkit-scrollbar-track {
  background-color: #ffff;
}

.questions {
  margin-top: 10px;
  padding: 10px;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}

.input-questions {
  flex: 1; 
  padding: 10px;
  height: 40px;
  border-radius: 36px;
  border: 2px solid #012B36;
  background-color: #ffff;
  font-size: 20px;
}

.imageArrow {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.imageButton{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.4));
}

.imageButton2 {
  position: absolute;
  top: 40%; 
  transform: translateY(20%); 
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
  right: 70px; 
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.4));
}

.imageButton {
  right: 10px; 
}

.record-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transform: translateY(-50%);
}

.error{
  color: red;
}

/*THE LOADINGS----------------*/

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}

.progress-loader {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 150px;
    background: #E4A9A5;
    height: 10px;
    border-radius: 7px;
  }
  
  .progress {
    width: 1px;
    height: 10px;
    border-radius: 7px;
    background: #DD4D42;
    transition: 0.5s;
    animation: loading_44 5s cubic-bezier(.4,1.01,1,1) infinite;
  }
  
  @keyframes loading_44 {
    0% {
      width: 0%;
    }
  
    50% {
      width: 100%;
    }
  
    100% {
      width: 0%;
    }
  }
