.modal-overlay-course {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-course{
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center; 
    cursor: pointer;
    height: 65%;
    width: 600px;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
    position: absolute;
    top: 10px; 
    right: 10px; 
    z-index: 1001; 
}

.inputs-container-modal-course {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.inputs-container-modal-course {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.form-control-modal {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.label-modal {
    font-size: 20px;
    margin-right: 10px;
    width: 20%;
    text-align: left;
}

.input-modal, .input-moda-name{
    font-size: 20px;
    width: 70%;
    padding: 10px;
    border: none;
    background-color: #E9E4E4;
    color: #000000;
    border-radius: 10px;
    box-sizing: border-box;
    resize: none;
}

.input-modal{
    height: 90px;
}

.input-moda-name{
    height: 50px;
}

.form-control-modal.long-input .input-modal {
    width: 70%;
    height: 100px;
}

.button-container-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.button-modal {
    width: 150px;
    height: 50px;
    color: white;
    background-color: #DD4D42;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 20px;
    margin: 0 10px;
}

.button-modal.cancel-button {
    background-color: #6c757d;
}

.modal-header-course {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.modal-title-course {
    font-size: 40px;
    font-weight: bold;
    color: #012B36;
}

.modal-subtitle-course {
    font-size: 30px;
    color: #012B36;
}

.error-message {
    color: red;
    font-size: 18px;
    margin-bottom: 20px;
}
