.titleStudent {
  color: rgb(255, 255, 255);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
}

.course-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
  justify-content: center;
  /* Centra el grid horizontalmente */
}

.course-container-scroll {
  overflow-y: auto;
  max-height: 400px;
  margin: 0 auto;
  /* Centra el contenedor verticalmente */
}




.course-container-scroll::-webkit-scrollbar {
  width: 12px;
  padding: 10px 20px;
  margin-top: 50px;
}

.course-container-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.course-container-scroll::-webkit-scrollbar-thumb {
  background-color: #DD4D42;
  border-radius: 6px;
}

.course-card {
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 10px;
}